body {
    background-color: hsl(217, 54%, 11%);
    color: hsl(215, 51%, 70%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
}

#nft-img {
    width: 100%;
    padding-bottom: 1rem;
    border-radius: 10px;
    color: hsl(178, 100%, 50%);
}

#nft-img:hover {
    color: hsl(178, 100%, 50%);
}

#description {
    font-weight: 300;
}

#title {
    font-weight: 600;
}

#profile-img {
    border-style: solid;
    border-radius: 70px;
    border-color: hsl(0, 0%, 100%);
    width: 16%;
    height: auto;
}

#profile-section {
    border-top: solid;
    border-color: hsl(215, 32%, 27%);
    display: flex;
    justify-content:start;
}

.link-text {
    color: hsl(0, 0%, 100%);
}

#price {
    color: hsl(178, 100%, 50%);
    font-weight: 600;
}

#card-container {
    background-color: hsl(216, 50%, 16%);
    margin: 1rem;
    padding: 1rem;
    max-width: 350px;
    border-radius: 20px;
}

#details-container {
    display: flex;
    justify-content: space-between;
}