body {
    background-color: hsl(217, 54%, 11%);
    color: hsl(215, 51%, 70%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
}

#nft-img {
    width: 100%;
    border-radius: 10px;
}

#nft-img:hover {
    color: hsl(178, 100%, 50%);
}

#profile-img {
    border-style: solid;
    border-radius: 70px;
    border-color: hsl(0, 0%, 100%);
    width: 10%;
}

#profile-section {
    border-top: solid;
    border-color: hsl(215, 32%, 27%);
}

.link-text {
    color: hsl(0, 0%, 100%);
}

.card-hover:hover {
    color: hsl(178, 100%, 50%);
}

#card-container {
    background-color: hsl(216, 50%, 16%);
    margin: 1rem;
    padding: 1rem;
    max-width: 350px;
    border-radius: 20px;
}